In [2]:
import pandas as pd 
from sqlalchemy import create_engine

USER = "postgres"
SENHA = "postgres"
HOST = "localhost"
DATABASE = "ada"

engine = create_engine(f"postgresql+psycopg2://{USER}:{SENHA}@{HOST}/{DATABASE}")

---

```
CREATE TABLE cars.category (
	category_id CHAR(3),
	employee_id INTEGER,
	category_name VARCHAR(50),
	rating VARCHAR(5),
	quantity_sold INTEGER,
	being_manufactured BOOLEAN,
	total_sold_value INTEGER
);

CREATE TABLE cars.customer (
	customer_id INTEGER,
	employee_id INTEGER,
	firstname VARCHAR(30),
	lastname VARCHAR(30),
	dof DATE,
	phone CHAR(10),
	email VARCHAR(50),
	city VARCHAR(255),
	country VARCHAR(255)
);

CREATE TABLE cars.employee (
	employee_id INTEGER,
	store_id INTEGER,
	firstname VARCHAR(30),
	lastname VARCHAR(30),
	dof DATE,
	phone CHAR(10),
	email VARCHAR(50),
	status VARCHAR(6),
	salary INTEGER,
	street VARCHAR(255),
	city VARCHAR(255),
	country VARCHAR(255)
);

CREATE TABLE cars.order (
	order_id VARCHAR(6),
	customer_id INTEGER,
	product_id INTEGER,
	store_id INTEGER,
	employee_id INTEGER,
	order_date DATE,
	shipped_date DATE,
	required_date DATE,
	order_status VARCHAR(9),
	quantity INTEGER
);

CREATE TABLE cars.product (
	product_id INTEGER,
	provider_id CHAR(6),
	category_id CHAR(3),
	product_name VARCHAR(30),
	model VARCHAR(30),
	year CHAR(4),
	color VARCHAR(30),
	km INTEGER,
	price INTEGER
);

CREATE TABLE cars.provider (
	provider_id CHAR(6),
	employee_id INTEGER,
	provider_name VARCHAR(50),
	debt INTEGER,
	phone CHAR(10),
	email VARCHAR(255),
	city VARCHAR(255),
	country VARCHAR(255)
);

CREATE TABLE cars.rise_archive (
	rise_id CHAR(4),
	amount_by_percent INTEGER,
	rise_date DATE,
	rise_state CHAR(9)
);

CREATE TABLE cars.store (
	store_id INTEGER,
	employee_id INTEGER,
	store_name VARCHAR(255),
	phone CHAR(10),
	street VARCHAR(255),
	city VARCHAR(255),
	country VARCHAR(255),
	email VARCHAR(255),
	post_code CHAR(4)
)
```

### Ferramentas:
- Git 
- PandaSQL 
- PostgreSQL 
- pgAdmin4

### Referências:
- https://pandas.pydata.org
- https://www.postgresql.org
- https://pypi.org/project/pandasql/
- https://pypi.org/project/psycopg2/
- https://www.kaggle.com/datasets/grncode/automotive-sector-compherensive-business-data-2023
- https://learnsql.com/blog/how-to-import-csv-to-postgresql/

---

<div style="background-color: Purple; padding: 10px;">
    <h2> Exploração Inicial dos Dados
</div>

- Tabela ``cars.product``;

In [5]:
query = """
SELECT * FROM cars.product
"""

df = pd.read_sql_query(query, con = engine)
df.head()

,product_id,provider_id,category_id,product_name,model,year,color,km,price
0,2000,Pr7670,MTG,Toyota,Camry,2019,DarkBlue,254760,21475
1,2001,Pr7893,VES,Ford,Mustang,2014,Turquoise,107930,40858
2,2002,Pr8017,QRQ,Honda,Civic,2000,Snow,265553,42863
3,2003,Pr8030,UFM,Chevrolet,Corvette,2020,OrangeRed,28751,16273
4,2004,Pr7793,DJO,BMW,3 Series,2015,LightSkyBlue,5836,27941

In [6]:
query = """
SELECT * FROM cars.product
"""

df = pd.read_sql_query(query, con = engine)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16723 entries, 0 to 16722
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    16723 non-null  int64
 1   provider_id   16723 non-null  object
 2   category_id   16723 non-null  object
 3   product_name  16723 non-null  object
 4   model         16723 non-null  object
 5   year          16723 non-null  object
 6   color         16723 non-null  object
 7   km            16723 non-null  int64
 8   price         16723 non-null  int64
dtypes: int64(3), object(6)
memory usage: 1.1+ MB

Cada carro tem um product_id, com nome, modelo, ano e cor.

In [20]:
query = """
SELECT product_id, c.category_id, category_name, product_name, model, year, color
FROM cars.product p
JOIN cars.category c ON c.category_id = p.category_id
WHERE product_name = 'Honda' and model = 'Civic'
ORDER BY category_name
"""

df = pd.read_sql_query(query, con = engine)
df

,product_id,category_id,category_name,product_name,model,year,color
0,16366,ARB,Convertible,Honda,Civic,1998,MistyRose
1,6448,OZQ,Convertible,Honda,Civic,1996,Aquamarine
2,10552,RGY,Convertible,Honda,Civic,2004,CornflowerBlue
3,16708,KFP,Convertible,Honda,Civic,1998,Turquoise
4,14656,OXW,Convertible,Honda,Civic,2015,DarkSeaGreen
5,18076,GLR,Convertible,Honda,Civic,2015,CadetBlue
6,13972,LMJ,Convertible,Honda,Civic,2009,AliceBlue
7,11578,QXM,Coupe,Honda,Civic,2003,BurlyWood
8,12262,KOQ,Coupe,Honda,Civic,2004,DeepPink
9,8158,FKS,Coupe,Honda,Civic,2011,Brown
10,7132,YXK,Coupe,Honda,Civic,2014,Pink
11,9868,MKB,Coupe,Honda,Civic,2003,MediumOrchid
12,12604,YCQ,Coupe,Honda,Civic,2002,Orange
13,10210,EPN,Coupe-SUV,Honda,Civic,2008,Khaki
14,14314,BTT,Coupe-SUV,Honda,Civic,2009,Blue
15,2002,QRQ,Crossover,Honda,Civic,2000,Snow
16,3370,DGO,Crossover,Honda,Civic,2000,Aqua
17,3028,FNM,Electric Car,Honda,Civic,2012,Green
18,15340,XTQ,Electric Car,Honda,Civic,2001,Sienna
19,6790,PRX,Hatchback,Honda,Civic,2009,FireBrick
20,2686,VYY,Hybrid Car,Honda,Civic,1997,Tomato
21,17392,IKE,Hybrid Car,Honda,Civic,2023,LimeGreen
22,10894,SJK,Hybrid Car,Honda,Civic,2020,SeaGreen
23,8500,EBH,Hybrid Car,Honda,Civic,2000,DarkRed
24,5422,IYX,Hybrid Car,Honda,Civic,2009,Purple
25,16024,TWW,Hybrid Car,Honda,Civic,2016,Crimson
26,13630,IOY,Microcar,Honda,Civic,2011,OrangeRed
27,13288,ITO,Microcar,Honda,Civic,2015,Cornsilk
28,8842,HUQ,Microcar,Honda,Civic,2009,Purple
29,17050,TNC,Microcar,Honda,Civic,2007,MidnightBlue
30,9184,MXT,Minivan,Honda,Civic,2004,LightCyan
31,4396,BRU,Off-Road Vehicle,Honda,Civic,2009,Chartreuse
32,14998,LFL,Off-Road Vehicle,Honda,Civic,2012,NavajoWhite
33,4738,ZEW,Off-Road Vehicle,Honda,Civic,2014,Purple
34,5080,KPT,Off-Road Vehicle,Honda,Civic,2012,Olive
35,12946,UEC,Pickup Truck,Honda,Civic,1998,Cyan
36,5764,DWM,Pickup Truck,Honda,Civic,2010,BurlyWood
37,9526,EMA,Pickup Truck,Honda,Civic,2018,DarkSalmon
38,7816,VES,Pickup Truck,Honda,Civic,2005,DeepPink
39,6106,JXT,Sedan,Honda,Civic,2018,Chocolate
40,17734,PFP,Sedan,Honda,Civic,2001,MediumBlue
41,11920,JGX,Sedan,Honda,Civic,1997,BlanchedAlmond
42,3712,QMI,Sedan,Honda,Civic,2002,DarkOrchid
43,18418,HLH,Sports Car,Honda,Civic,1999,Green
44,4054,WPP,Sports Car,Honda,Civic,2012,MediumSlateBlue
45,11236,ZZC,Sports Car,Honda,Civic,2020,DarkViolet
46,7474,GIG,SUV (Sport Utility Vehicle),Honda,Civic,2014,PapayaWhip
47,2344,XMK,SUV (Sport Utility Vehicle),Honda,Civic,2022,MediumAquaMarine
48,15682,PPS,SUV (Sport Utility Vehicle),Honda,Civic,2003,DarkCyan

---

- Tabela ``cars.provider``;

- Tabela ``cars.rise_archive``;

- Tabela ``cars.store``;